@charset "UTF-8";

nav a:link {
    color: #333;
    text-decoration: none;
}

nav a:visited {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background: #ff0000;
}

nav ul li a {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

body {
    background: #bbb;
}

main {
    width: 1000px;
    margin: 0px auto;
    line-height: 2;
}

header {
    height: 80px;
    background: #00fff5;
    text-align: center;
    padding: 40px 0px;
    font-size: 40px;
    color: red;
    border: solid 7px;
    border-color: #ffa700;
}



ul {
    overflow: hidden;
}

nav ul li {
    float: left;
    height: 50px;
    width: 250px;
    background: #f5ff00;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    margin: 15px 0px;
}

nav ul li:nth-child(odd) {
    background: #62ff00;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}


.d {
    overflow: hidden;
}

.b {
    float: left;

}

.c {
    float: right;

}

.e {
    margin: 30px 0px 0px 0px;
}



.g {
    margin: 30px 0px 10px 0px;
}

.h {
    margin: 30px 0px 0px 0px;
}


.i {
    margin: 10px 0px 10px 0px;
}

.j {
    margin: 0px 0px 40px 0px;
}

footer {
    height: 40px;
    background: #00fff5;
    text-align: right;
    color: red;
    font-size: 20px;
    padding: 10px;
    border: solid 7px;
    border-color: #ffa700;

}
