@charset "UTF-8";

body {
    font-size: 20px;
}

.headerdiv {
    min-width: 1200px;
    width: auto;
    position: relative;
    padding: 30px 0px;
}

.headerdiv h1 {
    text-align: center;
}

.logo1 {
    position: absolute;
    right: 90px;
    top: 20px;
    list-style: none;
}

.logo2 {
    position: absolute;
    right: 30px;
    top: 20px;
    list-style: none;
}

nav {
    background: #69290c;
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

nav ul li {
    width: 400px;
    text-align: center;
    color: #f7f7f7;
    height: 40px;
    line-height: 40px;
    font-family: 'Noto Serif JP', serif;
}

nav ul li a:link {
    color: #f7f7f7;
    text-decoration: none;
}

nav ul li a:visited {
    color: #f7f7f7;
    text-decoration: none;
}

nav ul li a:hover {
    background: #863511;
}

nav ul li a {
    height: 100%;
    width: 100%;
    display: block;
}

.topsection {
    background: #fff6e8;
}

.topzentai {
    overflow: hidden;
    margin: 40px auto 0px;
    width: 1200px;
}

.toptext {
    float: left;
    width: 540px;
    padding-right: 30px;
}

.event {
    margin: 100px 0px;
    font-size: 30px;
    font-family: 'Noto Serif JP', serif;
}

.topsection figure {
    float: right;

}

.menusection {
    margin-top: 100px;
}

.menuh2 {
    background: #7a2f0e;
}

.menusection h2 {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #f7f7f7;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    font-family: 'Noto Serif JP', serif;
}

.menuzentai {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.menuzentai dl {
    width: 600px;
    border-bottom: solid 2px #aaa;
    padding-bottom: 8px;
    margin-top: 40px;
    overflow: hidden;
}

.menuzentai dl dt {
    float: left;
}

.menuzentai dl dd {
    float: right;
}

.menuzentai .menu1nedan {
    transform: translateX(-20px);
}

.menuzentai .menu2meishou {
     transform: translateX(20px);
}

/*
.menusection2 {
    margin-top: 100px;
}

.menuzentai2 {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.menudl2 {
    width: 600px;
    border-bottom: solid 2px #aaa;
    padding-bottom: 8px;
    margin-top: 40px;
}

.menudl2 {
    overflow: hidden;
}

.menudl2 dt {
    float: left;
}

.menudl2 dd {
    float: right;
}

*/

.a {
    margin-top: 100px
}

.b {
     background: #7a2f0e;
}

.b h2 {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    color: #f7f7f7;
    font-size: 30px;
    font-family: 'Noto Serif JP', serif;
    height: 40px;
    line-height: 40px;
}



.c {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 100px;
}

.d {
    width: 600px;
}

.d dl {
    overflow: hidden;
    margin-top: 40px;
    border-bottom: #aaa solid 2px;
    padding-bottom: 8px;
}


.d dt {
    float: left;
}

.d dd {
    float: right;
}

.qqq {
    transform: translateX(-20px);
}

.www {
     transform: translateX(20px);
}

footer {
    background: #7a2f0e;
}

footer p {
    text-align: center;
    color: #f7f7f7;
    padding: 20px 0px;
    width: 1200px;
    margin: 0 auto;
}