@charset "UTF-8";

body {
    font-size: 18px;
    line-height: 1.5;
}

.mainheader {
    position: relative;
    padding: 30px 0px;
    width: 100%;
    background: url(../images/header_img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.mainlogo {
    text-align: center;
}

.twitter {
    position: absolute;
    right: 90px;
    top: 20px;
    list-style: none;
}

.facebook {
    position: absolute;
    right: 30px;
    top: 20px;
    list-style: none;
}

nav {
    background: #69290c;
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

nav ul li {
    width: 240px;
    text-align: center;
    color: #f7f7f7;
    height: 40px;
    line-height: 40px;
    font-family: 'Noto Serif JP', serif;
}

nav ul li a:link {
    color: #f7f7f7;
    text-decoration: none;
}

nav ul li a:visited {
    color: #f7f7f7;
    text-decoration: none;
}

nav ul li a:hover {
    background: #863511;
}

nav ul li a {
    height: 100%;
    width: 100%;
    display: block;
}

.zentaiarticle {
    margin-bottom: 40px;
}

.suboutheader {
    background: #fff6e8;
}

.subinheader {
    margin: 40px auto 100px;
    width: 1200px;
    background: url(../images/info_subheader.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 280px;
}

.info {
    width: 540px;
    padding: 80px 0px 40px;
    font-size: 31px;
    font-family: 'Noto Serif JP', serif;
}

.subheadertext {
    width: 540px;
}

.infotopfigure {
    margin: 0 auto;
    width: 1200px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;
}

.table dt,
.table dd {
    box-sizing: border-box;
    border-bottom: 2px solid #aaa;
    padding: 40px 0px 8px;
}

.table dt {
    width: 10%;
}

.table dd {
    width: 90%;
    text-align: right;
}

footer {
    background: #69290c;
}

footer p {
    text-align: center;
    color: #f7f7f7;
    padding: 20px 0px;
    width: 1200px;
    margin: 0 auto;
}
